@use '../../styles/partials/variables' as *;

.discover{
    padding: 1rem;
    height: 100%;
    background-color: $color-secondary-light;
    color: $color-secondary-light;
    background-image: url('../../assets/images/wave-pattern.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4.5rem 0;
    
}