@use '../../styles/partials/variables' as *;



.discover{
    padding: 1rem;
    min-height: 100vh;
    background-color: $color-secondary-light;
    color: $color-secondary-light;
    background-image: url('../../assets/images/wave-pattern.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4.5rem 0;

    &__category{
        margin-right: 1rem;
        border-radius: 10px;
        font-family: 'Quicksand';
        padding: 0.25rem 1rem;
        height: 3rem;
        width: 15rem;
        font-size: 1rem;
        color: white;
        background-color: $color-secondary-dark;
    }

    &__input{
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;   
    }

    &__category{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__button{
        font-family: 'Quicksand';
        font-size: 1rem;
        color: white;
        background-color: #977068;
        border-style: none;
        border-radius: 10px;
        padding: 0.5rem;
        height: 3rem;
        width: 6rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
    }
    
}