@use '../../styles/partials/variables' as *;

.sub-item{
    border: 1px solid #977068;
    border-radius: 20px;
    background-color: #977068;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    font-family: 'Quicksand';
    font-weight: bold;
    
    &__logo{
        height: 3rem;
        width: 5rem;
        
    }
}