//Regular
@font-face {
    font-family: 'Quicksand';
    src: url(../../assets/fonts/Quicksand-Regular.ttf) format("truetype"),
         url(../../assets/fonts/Quicksand-Regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

//Semibold
@font-face {
    font-family: 'Quicksand';
    src: url(../../assets/fonts/Quicksand-SemiBold.ttf) format("truetype"),
         url(../../assets/fonts/Quicksand-SemiBold.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}

//Bold
@font-face {
    font-family: 'Quicksand';
    src: url(../../assets/fonts/Quicksand-Bold.ttf) format("truetype"),
         url(../../assets/fonts/Quicksand-Bold.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: 'Quicksand';
}