@use '../../styles/partials/variables' as *;

.signup{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__redirect{
        text-decoration: none;
        color: $color-primary-dark;

        &:hover{
            text-decoration: underline;
        }
    }

    &__error{
        display: none;

        &--shown{
            margin-top: -1rem;
            display: flex;
            color: red;
            padding: 0.5rem;
            align-items: center;
            justify-content: center;
        }

        &--icon{margin-right: 0.5rem;}
    }
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__field{
        background-color: $color-field;
        border: 2px solid black;
        border-radius: 20px;
        height: 2.25rem;
        width: 100%;
        padding: 0 1rem;
        margin: 1rem 0;
    }

    &__button{
        color: white;
        background-color: $color-primary-dark;
        text-decoration: none;
        margin: 1rem 0;
        margin-bottom: 2rem;
        border: 1px solid $color-secondary-light;
        width: 10rem;
        height: 2.25rem;
        border-radius: 1.25rem;
        padding: .25rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus{
            border-color: black;
        }
    }

    
}