@use '../../styles/partials/variables' as *;


.header{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 100%;

    &__title{
        margin: 0;
    }

    &__icon{
        height: 2rem;
    }
}